body {
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, Arial, Verdana, sans-serif;
	font-size: 10px;
	color: #6E6E6E;
}

body>* {
	box-sizing: border-box;
}

a {
	color: #0088CC;
	text-decoration: none;
}

img { max-width: 100%; }

header {
	width: 1440px;
	background: url('img/hero.jpg') no-repeat bottom;
	background-size: cover;
	margin: 0 auto;
	padding: 80px 0;
}

nav {
	background:
		linear-gradient(to bottom, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0) 5%, rgba(0,0,0,0) 97%, rgba(0,0,0,0.45) 100%),
		linear-gradient( to right, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0) 0.2%, rgba(0,0,0,0) 99.8%, rgba(0,0,0,0.2) 100%),
		url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAA9QAAAAkCAMAAABfcIIyAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAHVQTFRFAAAA%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F5YtmQAAAACd0Uk5TAAECAwQFBgcICQoLDA0ODxAREhMUFRYXGBkaGxwdHh8gISIjJCUmZiD6WAAAAdlJREFUeF7t3btuFEEQheFzunotGYkIERA4spn3fyeHiAgEEtsXB82s2eEJavR%2F0Wjyo75XWfHpw4MkSXNqCkA2lr2%2B%2Fvz63n15qpI0x5yTSAM52XaxJLVXf%2FkoaY6xQk2sgXy8Ql2KJf3wS5HG6HMMQg3kZNkuxVGKNLxJo48%2BxhxTpBrIx7JcXEqUKJI3zd77CjWLaiAle4U6Iixv6q33MfocTL%2BBlCy7OEqJqCFvs%2FV2m3%2BTaiAd6zb7rlHtrbc1VA%2Bm30BSa%2B%2B7RNSo4a21thbVTL%2BBnCy7rCV1rdXbtbXW%2B%2Bh%2Ft78BZLM2v6NE1Fov%2FrpC3Zl%2BA2l5H6lrrRe%2FXNu%2BqCbUQE57qGvsoW5t9D4H028gJculOKLUWuvFz%2B16O9NipAZSsm8nWpfq53ZlTQ3k9s%2BamlADZ0CogZMh1MDJEGrgZAg1cDL%2Fh5ojLSC1%2ByMtLp8A2R0un3BNFEjv%2FpooDzqA9O4fdPD0Esju8PSSIglAdsciCZQzArI7lDOat30yCg8CGe2FB1eovZcI7oMSwUBSq0TwWlQHxfyBEzgW86ftDpDase0ODfKA7A4N8mhlC2R318r2px%2BeQqLpPJDae9P5%2FmrVz491%2FWekBlKy7PXVfn9rb9xXsMD2wdOcAAAAAElFTkSuQmCC') no-repeat 50% 50%,
		linear-gradient( to bottom, rgb(102,102,102) 0%, rgb(94,94,94) 50%, rgb(112,112,112) 50%, rgb(128,128,128) 100%);
	border-radius: 4px;
	width: 980px;
	margin: 0 auto 0;
}

nav ul {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
}

nav ul li {
	display: grid;
	align-items: center;
	justify-content: center;
	padding: 7px 30px;
	border-right-width: 3px;
	border-right-style: solid;
	border-image:
		linear-gradient(
			to right,
			rgba(177,177,177,0) 0%,
			rgba(177,177,177,0.5) 33%,
			rgb(66,66,66) 33%,
			rgb(66,66,66) 66%,
			rgba(177,177,177,0.5) 66%,
			rgba(177,177,177,0) 100%
		) 1 100%;
}

nav ul li:last-child { border-right: none; }

nav ul li svg { height: 13px; }
nav ul li#logo svg { height: 20px; }
nav ul li:nth-child(8) svg { height: 14.7px; }

header .hero-text {
	display: block;
	margin: 30px auto;
}

header .hero-text:nth-child(2) { margin-top: 100px; }
header .hero-text:last-child { margin-bottom: 150px; }

main {
	width: 1440px;
	margin: 2px auto 0;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-column-gap: 2px;
}

footer {
	width: 960px;
	margin: 30px auto;
	display: grid;
	grid-template-columns: repeat(2, auto);
	grid-row-gap: 12px;
	justify-content: space-between;
	align-items: center;
}

footer .right ul {
	display: grid;
	grid-template-columns: repeat(8, auto);
	align-items: center;
}

footer ul li:not(:last-child) {
	padding-right: 5px;
	margin-right: 5px;
	border-right: 1px solid #CCCCCC;
}

footer .copyright ul {
	display: grid;
	grid-template-columns: repeat(3, auto);
	justify-content: left;
	align-items: center;
}

footer .copyright ul li:first-child {
	border-right: none;
	padding-right: 0;
}